  <!-- Footer Section -->
                    <tr>
                      <td style="padding: 35px 40px; background: #000;">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody><tr>
                                    <td>
                                       <p class="t36" style="margin:0;Margin:0;font-family:arial;line-height:32px;/*! font-weight:600; */font-style:normal;font-size:32px;text-decoration:none;text-transform:none;direction:ltr;color:#FFFFFF;text-align:left;mso-line-height-rule:exactly;">IndiGalleria</p>

                                        <div style="border-top: 1px solid rgba(255, 255, 255, 0.12); padding-top: 20px; margin-top: 10px;">
                                            <p style="margin: 0; font-size: 9pt; color: #8c9ba5; line-height: 1.5; font-style: italic;">
                                                This is an automated message. For queries, feel free to write to us at
                                                <a href="mailto:info@indigalleria.com" style="color: #00b1c8; text-decoration: none; font-weight: 500;">info@indigalleria.com</a>
                                                or
                                                <a href="mailto:indigalleria@gmail.com" style="color: #00b1c8; text-decoration: none; font-weight: 500;">indigalleria@gmail.com</a>.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>

                   

                </table>
            </td>
        </tr>
    </table>
</body>

</html>